<meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div>
     <a href="https://cdn.suwalls.com/wallpapers/typography/stop-customizing-start-working-41823-1920x1080.jpg">Picture</a>
   </div>

   <h1>This page is doesn't created yet!</h1>
  
 </body>
</html>
